pygame==2.1.2
pathlib==1.0.1




# absl-py==1.3.0
# aiohttp==3.8.3
# aiosignal==1.2.0
# aniso8601==9.0.1
# asttokens==2.0.5
# async-generator==1.10
# async-timeout==4.0.2
# atomicwrites==1.4.0
# attrs==21.4.0
# autograd==1.5
# autopep8==1.7.0
# backcall==0.2.0
# beautifulsoup4==4.11.1
# bigtree==0.6.4
# binarytree==6.5.1
# bleach==5.0.0
# bson==0.5.10
# cachetools==5.1.0
# captum==0.6.0
# cattrs==1.8.0
# certifi==2022.5.18.1
# cffi==1.15.0
# cfgv==3.3.1
# charset-normalizer==2.0.12
# click==7.1.2
# cloudscraper==1.2.65
# colorama==0.4.4
# commonmark==0.9.1
# contourpy==1.0.5
# convertdate==2.4.0
# cramjam==2.5.0
# cryptography==37.0.2
# cycler==0.11.0
# Cython==0.29.32
# dataclasses==0.6
# dataframe-image==0.1.3
# debugpy==1.6.3
# decorator==5.1.1
# defusedxml==0.7.1
# Deprecated==1.2.13
# distlib==0.3.4
# eli5==0.10.0
# entrypoints==0.4
# ephem==4.1.4
# executing==0.8.3
# fastjsonschema==2.15.3
# fastparquet==0.8.1
# filelock==3.7.0
# flake8==4.0.1
# flake8-nb==0.3.1
# Flask==1.1.4
# Flask-Cors==3.0.10
# Flask-Injector==0.13.0
# Flask-Inputs==0.3.0
# Flask-RESTful==0.3.9
# fonttools==4.34.4
# frozenlist==1.3.1
# fsspec==2022.5.0
# future==0.18.2
# google-api-core==2.8.0
# google-api-python-client==2.45.0
# google-auth==2.6.6
# google-auth-httplib2==0.1.0
# google-auth-oauthlib==0.4.6
# google-cloud-core==2.3.0
# google-cloud-firestore==2.3.1
# googleapis-common-protos==1.56.1
# graphviz==0.20.1
# greenery==3.3.7
# grpcio==1.46.3
# grpcio-status==1.46.3
# gunicorn==20.1.0
# h11==0.13.0
# hijri-converter==2.2.4
# holidays==0.18
# httplib2==0.20.4
# identify==2.5.1
# idna==3.3
# inflect==0.2.5
# iniconfig==1.1.1
# injector==0.18.3
# ipykernel==6.15.1
# ipython==8.3.0
# ipywidgets==8.0.4
# itsdangerous==1.1.0
# jarowinkler==1.0.2
# jedi==0.18.1
# Jinja2==2.11.3
# joblib==1.1.0
# jsonschema==3.2.0
# jupyter-client==7.3.1
# jupyter-core==4.10.0
# jupyterlab-pygments==0.2.2
# jupyterlab-widgets==3.0.5
# kiwisolver==1.4.4
# korean-lunar-calendar==0.3.1
# Levenshtein==0.18.1
# lightgbm==3.3.2
# lis==0.0.5
# llvmlite==0.39.1
# LunarCalendar==0.0.9
# lunardate==0.2.0
# lxml==4.8.0
# Markdown==3.4.1
# MarkupSafe==2.0.1
# matplotlib==3.6.0
# matplotlib-inline==0.1.3
# mccabe==0.6.1
# mistune==0.8.4
# more-itertools==9.0.0
# multidict==6.0.2
# nbclient==0.6.3
# nbconvert==6.5.0
# nbformat==5.4.0
# nest-asyncio==1.5.5
# networkx==2.8.7
# neuralprophet==0.5.0
# nodeenv==1.6.0
# numba==0.56.4
# numpy==1.23.3
# oauth2client==4.1.2
# oauthlib==3.2.2
# opt-einsum==3.3.0
# outcome==1.1.0
# overpy==0.6
# packaging==21.3
# pandas==1.5.0
# pandocfilters==1.5.0
# parameterized==0.8.1
# parso==0.8.3
# patsy==0.5.3
# pickleshare==0.7.5
# Pillow==9.2.0
# platformdirs==2.5.2
# plotly==5.11.0
# pluggy==1.0.0
# pmdarima==2.0.2
# pre-commit==2.20.0
# prompt-toolkit==3.0.29
# proto-plus==1.20.4
# protobuf==3.20.1
# psutil==5.9.1
# pure-eval==0.2.2
# py==1.11.0
# pyasn1==0.4.8
# pyasn1-modules==0.2.8
# pycodestyle==2.8.0
# pycparser==2.21
# pyDeprecate==0.3.2
# pyflakes==2.4.0
# Pygments==2.12.0
# PyHamcrest==2.0.2
# pyhumps==3.7.3
# PyJWT==2.3.0
# pyluach==2.0.0
# PyMeeus==0.5.11
# pynndescent==0.5.8
# pyOpenSSL==22.0.0
# pyparsing==3.0.9
# pyperclip==1.8.2
# pyro-api==0.1.2
# pyro-ppl==1.8.3
# pyrsistent==0.18.1
# PySocks==1.7.1
# pytest==7.1.2
# python-dateutil==2.8.2
# python-docx==0.8.11
# pytorch-lightning==1.7.4
# pytz==2022.1
# pyuca==1.2
# pywin32==304
# PyYAML==6.0
# pyzmq==23.0.0
# rapidfuzz==2.0.11
# requests==2.27.1
# requests-oauthlib==1.3.1
# requests-toolbelt==0.10.1
# rich==12.4.4
# rsa==4.8
# scikit-learn==1.1.2
# scikit-lego==0.6.14
# scipy==1.8.0
# seaborn==0.11.2
# selenium==4.2.0
# setuptools-scm==7.0.5
# six==1.16.0
# sklego==0.0
# skorch==0.12.1
# sniffio==1.2.0
# sns==0.1
# sortedcontainers==2.4.0
# SoundFile==0.10.2
# soupsieve==2.3.2.post1
# stack-data==0.2.0
# statsmodels==0.13.5
# tabulate==0.8.10
# tenacity==8.1.0
# tensorboard==2.11.0
# tensorboard-data-server==0.6.1
# tensorboard-plugin-wit==1.8.1
# threadpoolctl==3.1.0
# tinycss2==1.1.1
# toml==0.10.2
# tomli==2.0.1
# toolz==0.11.2
# torch==1.13.0
# torchmetrics==0.9.3
# tornado==6.1
# tqdm==4.64.1
# traitlets==5.2.1.post0
# trio==0.20.0
# trio-websocket==0.9.2
# typing==3.7.4.3
# typing_extensions==4.2.0
# tzdata==2022.1
# ulid-py==0.0.9
# umap-learn==0.5.3
# Unidecode==1.0.22
# uritemplate==4.1.1
# urllib3==1.26.9
# virtualenv==20.14.1
# wcwidth==0.2.5
# webencodings==0.5.1
# Werkzeug==1.0.1
# widgetsnbextension==4.0.5
# workalendar==16.3.0
# wrapt==1.14.1
# wsproto==1.1.0
# WTForms==3.0.1
# xgboost==1.6.2
# yarl==1.8.1
